/********************************/
/*******Element Defaults*********/
/********************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(200, 195, 188);
    background-color: rgb(24, 26, 27);
    scrollbar-color: #202324 #454a4d;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top:  1px solid #eeeeee;
}


/**********Text Styles***********/
code {
    font-family: "Roboto", monospace;
    color: inherit;
    white-space: nowrap;
}


/*************Links**************/
a {
    text-decoration: none;
    color: rgb(83, 153, 207);
}

a:hover {
    text-decoration: underline;
}


/************Headers*************/
h1, h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}


/*************Lists**************/
ul {
    margin-left: 40px;
}


/********************************/
/***********Container************/
/********************************/
.container {
    min-height: 100vh;
    position: relative;
}

/********************************/
/********Navigation Bar**********/
/********************************/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-default {
    border-bottom: 1px solid rgb(55, 59, 62);
    background-color: rgb(28, 30, 31);
    height: 50px;
}

.navbar-item-default {
    padding: 15px;
    line-height: 20px;
    font-size: 18px;
}

.navbar-item-default a{
    color: rgb(157, 148, 136);
}

.navbar-left {
    font-size: 18px;
}

.navbar-right {
    font-size: 14px;
}

.content-column {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}


/********************************/
/**********Search Form***********/
/********************************/
#search {
    margin-top: 50px;
    align-self: center;
}

.form {
    align-items: flex-start;
}

.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: rgb(178, 172, 162);
    border-radius: 5px;
    border: 1px solid rgb(62, 68, 70);;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: transparent;
}

.form-control:focus {
    border-color: rgb(19, 84, 135);
    outline-color: currentColor;
    box-shadow: rgba(20, 85, 136, 0.6) 0px 0px 8px;
}


/**********Form Input************/
#username, #repository, #get-stats-button {
    margin-top: 10px;
    width: 100%;
}


/*********Form Button************/
#get-stats-button {
    color: rgb(232, 230, 227);
    background-color: rgb(43, 102, 153);
    border-color: rgb(40, 95, 142);
    cursor: pointer;
}

#get-stats-button:hover {
    color: rgb(232, 230, 227);
    background-color: rgb(40, 94, 142);
    border-color: rgb(44, 104, 156);    
}

#get-stats-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    background-color: rgb(43, 102, 153);
    border-color: rgb(40, 95, 142);
}


/********************************/
/**********Result Stats**********/
/********************************/
#stats-result {
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 700px;
    min-width: 430px;
    align-self: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid transparent;
}

.alert-danger {
    text-align: center;
    color: rgb(194, 102, 100);
    background-color: rgb(56, 22, 22);
    border-color: rgb(89, 35, 43);
}


/*********Default Node***********/
.node {
    background-color: rgba(92, 100, 104, 0.1);;
    border: 1px solid rgba(127, 140, 141, 0.4);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.node h3 .material-icons {
    cursor: default;
    color: rgba(66, 139, 202, 1);
    vertical-align: bottom;
}

.node h3 .badge {
    cursor: default;
    background-color: rgba(66, 139, 202, 1);
    color: rgb(232, 230, 227);
    vertical-align: middle;
}

.node-hr {
    border-top-color: rgba(127, 140, 141, 0.4);
}


/********Repository Node*********/
.repository {
    margin-bottom: 50px;
    background-color: rgba(40, 94, 142, 0.2);
    border-color: rgba(44, 104, 156, 0.4);
}


/******Latest Release Node*******/
.latest-release {
    background-color: rgba(77, 133, 58, 0.2);
    border-color: rgba(52, 120, 52, 0.4);
}

.latest-release h3, .latest-release h3 .material-icons, .latest-release h3 a {
    color: rgb(77, 133, 58);
}

.latest-release h3 .badge {
    background-color: rgb(77, 133, 58);
}

.latest-release .release-hr {
    border-color: rgba(92, 184, 92, 0.4);
}


/********Pre Release Node********/
.pre-release {
    background-color: rgba(240, 173, 78, 0.05);
    border-color: rgba(240, 173, 78, 0.4);
}

.pre-release h3, .pre-release h3 .material-icons, .pre-release h3 a {
    color: rgba(240, 173, 78, 1);
}

.pre-release h3 .badge {
    background-color: rgb(153, 95, 13);
}

.pre-release .release-hr {
    border-color: rgba(240, 173, 78, 0.4);
}

h4 .material-icons {
    vertical-align: bottom;
}

.badge {
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}


/********************************/
/************Footer**************/
/********************************/
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgba(49, 54, 56, 0.2);
    border-top: 1px solid rgba(61, 66, 67, 0.4);
}

.footer a {
    color: #428bca;
}


/********************************/
/**********Media Queries*********/
/********************************/
@media screen and (max-width: 1024px) {
    .content-column {
        grid-column-start: span 3;
    }
}

.material-icons.md-18 { 
    font-size: 18px; 
}

.material-icons.md-24 { 
    font-size: 24px; 
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.material-icons.md-48 { 
    font-size: 48px; 
}