* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(200, 195, 188);
    background-color: rgb(24, 26, 27);
    scrollbar-color: #202324 #454a4d;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-default {
    border-bottom: 1px solid rgb(55, 59, 62);
    background-color: rgb(28, 30, 31);
    height: 50px;
}

.navbar-item-default {
    padding: 15px;
    line-height: 20px;
    font-size: 18px;
}

.navbar-item-default a{
    color: rgb(157, 148, 136);
}

.navbar-left {
    font-size: 18px;
}

.navbar-right {
    font-size: 14px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: rgba(49, 54, 56, 0.2);
    border-top: 1px solid rgba(61, 66, 67, 0.4);
}

.footer a {
    color: #428bca;
}